.identification{
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    .carrierTitle{
        background: #fff;
        padding: 18px 20px;
        margin-bottom: 20px;
        .realname{
            border-bottom: solid 1px #0E91E9;
            margin-bottom: 10px;
            h2{
                display: inline-block;
                line-height: 26px;
                font-size: 22px;
                font-weight: normal;
                color: #333333;
                border-bottom: 4px solid #0E91E9;
            }
            span{
                display: inline-block;
                line-height: 20px;
                font-size: 14px;
                color: #ff300d;
                font-weight: bold;
            }
            .certified{
                color: #e6a23c;
            }
            .certify{
                color: rgba(12, 231, 23, 0.842);
            }
        }
        .prompt{
            padding: 12px 27px 19px;
            background-color: #d1e0f2;
            margin-bottom: 13px;
            & p:nth-child(1){
                margin-bottom: 5px;
            }
            p{
                line-height: 17px;
                font-size: 14px;
                color: #333333;
                .tishi{
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: bold;
                    position: relative;
                    &>i{
                        position: absolute;
                        top: 2px;
                        left: -17px;
                        color: #ff300d;
                    }
                }
                .star{
                    color: #ff300d;
                    font-weight: bold;
                    padding: 0 2px;
                }
                .site{
                    color: #0e91e9;
                    font-weight: bold;
                }
            }
        }
    }
    .el-form{
        width: 100%;
        height: 100%;
        position: relative;
        .btnChoose{
            float: right;
            .el-form-item__content{
                margin-left: 0 !important;
                width: 155px !important;
                .el-button{
                    padding: 6px 20px;
                }
            }
        }
        .searchInformation{
            .el-form-item{
                display: inline-block;
                margin-bottom: 0px;
            }
        }
        .created{
            margin-bottom: 20px;
        }
       
        h2{
            line-height: 24px;
            font-size: 20px;
            font-weight: normal;
            color: #333333;
        }
        .el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner  {
            text-indent: 10px;
            background-color: #fff;
            border-color: #e4e7ed;
            color: #333;
            cursor: not-allowed;
            word-break:break-all;
        }
        .information{
            background: #fff;
            padding: 18px 20px;
            margin-bottom: 20px;
            .tableStyle{
                height: 100%;
            }
            &>h2{
                margin-bottom: 20px;
                padding: 5px 0;
                border-bottom: 2px solid #0E91E9;
            }
            &>.el-form-item{
                .el-form-item__label{
                    line-height: 28px;
                    font-size: 14px;
                    letter-spacing: 0px;
                    color: #333;
                }
                .el-form-item__content{
                    line-height: 28px;
                    width: 250px;
                    .el-input{
                        position: relative;
                        .el-input__inner{
                            height: 28px;
                            line-height: 28px;
                            padding: 5px;
                            overflow:hidden;/*超出长度的文字隐藏*/
                            text-overflow:ellipsis;/*文字隐藏以后添加省略号*/
                            white-space:nowrap;/*强制不换行*/
                        }
                        .el-input-group__append{
                            position: absolute;
                            top: 7px;
                            right: -10px;
                            background: #fff;
                            color: #0e91e9;
                            line-height:14px;
                            font-size: 12px;
                            border: 0 none ;
                            padding: 0;
                        }
                    }
                    .el-select{
                        width: 100%;
                    }
                    .el-date-editor{
                        width: 100%;
                        .el-input__inner{
                            padding-left:35px; 
                            padding-top: 6px;
                        }
                        .el-input__icon{
                            line-height: 30px;
                        }
                    }
                    &>.licensePicture{
                        height: 133px;
                        margin-top: 18px;
                        display: inline-block;
                    }
                    .preview{
                        padding: 7px 96px;
                    }
                    .showPicture{
                        width: 100%;
                        height: 133px;
                        display: inline-block;
                        margin-top: 18px;
                    }
                   
                }
            }
            .moreWidth{
                .el-form-item__content{
                    width: 75%;
                }
            }
            .textarea{
                position: relative;
                .el-form-item__content{
                    width: 570px;
                    p,span{
                        color: #999999;
                        font-size: 12px;
                    }
                    span,.countNum{
                        position: absolute;
                        right: 18px;
                        bottom: -5px;
                    }
                    .countNum{
                        width: 20px;
                    }
                }
            }

            .minHeight{
                margin-bottom:0;
                .el-form-item__content{
                    min-height: 209px;
                }
            }
        }
        
        .informationTable{
            height:72%
        }
        .contactInformation,.picInformation{
            .el-form-item{
                display: inline-block;
                vertical-align: top;
            }
        }

        .picInformation{
            .el-form-item{
                .el-form-item__content{
                    min-height:209px; 
                }
                p{
                    span{
                        color: #ff300d;
                    }
                }
            }
        }


        .fromfooter{
            padding: 60px 0;
            margin-left: 150px;
            .el-button{
                span{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        .info_tab_footer{
            padding-left: 20px;
            background: #eee;
            height: 40px;
            line-height: 40px;
            box-shadow: 0 -2px 2px rgba(0,0,0,.1);
            position: relative;
            z-index: 10;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .show_pager{
            float: right;
            line-height: 40px;
            height: 40px;
            overflow: hidden;
        }
    }


}